:root{
    --main-color: rgb(52, 179, 73);
}

body {
    background-color: black;
    color: var(--main-color);
    font-family: monospace;
}

#home {
    background-color: rgb(33, 82, 128);
}

#logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#buttons {
    width: 100px;
    position: absolute;
    padding: 20px;
}

#window {
    position: absolute;
    z-index: 9;
    text-align: center;
    border: 1px solid #FFFFFF;
    background-color: black;
}
  
#windowheader {
    padding: 2px;
    cursor: move;
    z-index: 10;
    background-color: var(--main-color);
    color: #fff;
}

#files {
    position: absolute;
    z-index: 9;
    text-align: center;
    border: 1px solid #FFFFFF;
    background-color: black;
}
  
#filesheader {
    padding: 2px;
    cursor: move;
    z-index: 10;
    background-color: var(--main-color);
    color: #fff;
}

#showFiles {
    position: relative;

    right: 0;
}

#filesButton {
    background-color: aquamarine; 
    padding: 16px 32px;
}

#showMatrix {
    position: absolute; 
    right: 0;
}

#matrix {
    background-color: aquamarine; 
    padding: 16px 32px;
}

#terminal {
    position: absolute;
    z-index: 9;
    border: 1px solid #FFFFFF;
    background-color: black;
}
  
#terminalheader {
    padding: 2px;
    cursor: move;
    z-index: 10;
    text-align: center;
    background-color: var(--main-color);
    color: #fff;
}
